fastapi>=0.110,<1
uvicorn[standard]>=0.29,<1
sqlalchemy[asyncio]>=2.0,<3
asyncpg>=0.29,<1
alembic>=1.13,<2
python-jose[cryptography]>=3.3,<4
passlib[bcrypt]>=1.7,<2
bcrypt>=4.0,<5
cryptography>=42,<44
pydantic-settings>=2.2,<3
pydantic[email]>=2.0,<3

slowapi>=0.1,<1
apscheduler>=3.10,<4
croniter>=2.0,<3

discord.py>=2.3,<3
aiohttp>=3.9,<4
python-multipart>=0.0.6
hllrcon>=1.1,<2
